.App { }

.App-logo {
  height: 40vmin;
}

.app-container {
  height: 100vh;
}

/* HEADER STYLES */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.site-logo g,
.site-logo g path {
  fill: #ffffff;
}

.site-logo svg {
  height: 18px;
}

/* HOME PAGE DESIGN */
.home-page {
  height: 100vh;
  width: 100vw;
  background: #ffffff url(/bgHome.jpeg) no-repeat left top;
  background-size: cover;
}

.home-container {
  display: flex;
  height: calc(100vh - 50px);
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.page-header {
  text-align: left;
  position: relative;
  flex-basis: 532px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  z-index: 10;
}

.main-page-title--by {
  color: #99CCFF; 
}


/* STYLE FOR FUND TRANSFER PAGE */
.available-balance {
  font-size: 12px;
  font-weight: 400;
  color: #213b83;
}



/* TRANSFER PAGE STYLES */
.btn-block {
  width: 120px;  
}
