.App { }

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* STYLE FOR FUND TRANSFER PAGE */
.available-balance {
  font-size: 12px;
  font-weight: 400;
  color: #213b83;
}